<!DOCTYPE html>
<html>
   <head>
      <style>
         #map {
            height: 400px;
            width: 100%;
         }
      </style>
   </head>
   <body>
      <h3>Supermileage Tracker</h3>
      <div id="map"></div>
      <script>
         function initMap() {
            var uluru = {lat: 39.746872, lng: -83.813105};
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
            });
            var marker = new google.maps.Marker({
               position: uluru,
               map: map
            });
            var bounds = new google.maps.LatLngBounds();
            bounds.extend(marker.getPosition());
            map.fitBounds(bounds);
         }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFcz8JRtY3aT4kLpi4tt93SKMjz0aX7Cs&callback=initMap">
      </script>
   </body>
</html>
